@import './background';


.font-size--small {
    font-size: var(--font-size--sm);
}

.font-size--default {
    font-size: var(--font-size);
}

.font-size--large {
    font-size: var(--font-size-lg);
}

.u-text--light{
    color: var(--color-text-2) !important;
}


.u-reset {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
}