h1 {
  font-size: toRem(32);
}

h2 {
  font-size: toRem(30);
}

h3 {
  font-size: toRem(21);
}

h4 {
  font-size: toRem(22);
}

h4 {
  font-size: toRem(20);
}

p {
  font-size: var(--font-size);
  font-weight: 300;
}

label {
  font-size: var(--font-size--sm);
}
