//https://www.developerdrive.com/15-essential-sass-mixins/

@function toRem($value) {
    $remValue: ($value / 16)+rem;
    @return $remValue;
}

@mixin flex-center( ){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin reset(){
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
}