@import "../a-settings/vars";

* {
  --font-size: calc((var(--pixels) / 16) * 1rem);
  font-size: var(--font-size);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  line-height: 1.5;
}

h1 {
  margin-top: 0px;
}
