
.theme--black {
    --color-background-1: #1D2228;
    --color-background-2: #1D2228;
    --color-text-1: #E1E2E2;
}

.theme--light {
    --color-background-1: white;
    --color-background-2: #F1F1EF;
    --color-text-1: #34421E;
    --color-text-2: #C19434;
}